<h2>Gallery</h2>
<div class="md-padding" layout="row" layout-wrap>
  <md-card layout="column" md-whiteframe="17" *ngFor="let album of albums | async" style="width: 300px; height: 300px; display: inline-block; margin: 10px;"
    layout-margin layout-padding flex>
    <md-card-header>
      <md-card-title (click)="onSelect(album.id)">
        <h4>{{album.title}}</h4>
      </md-card-title>
    </md-card-header>
    <img md-card-image src="https://scontent-dfw1-1.xx.fbcdn.net/t31.0-8/177295_366017553484023_1753782257_o.jpg" width="200px"
      height="200px">
    <md-card-actions>
      <button md-raised-button color="warn">LIKE</button>
      <button md-raised-button color="accent">SHARE</button>
    </md-card-actions>
  </md-card>
  <div layout="row" flex></div>
</div>